{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="column" style="text-align: center;">
        <H1 class="title" style="color: #fff;">Report An Emergency!</H1>
        <p style="font-size: larger; text-decoration: underline;"></p>
    </div>
</div>




<div style=" height: 25px; width: 100%;"></div>

<div class="row">
        <div class="column"  style="padding-top: 20px; margin-left: 5%">
        <a href="{% url 'emergencyctd' %}"><button class="button" style="padding: 155px 155px; border-radius: 50%"><img src="{% static 'core/Images/alarm.png' %}" alt="alarm icon" style="width: 155px; height: 155px;"></button></a>
    </div>
</div>

{% endblock %}

