{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="column" style="text-align: center;">
        <H1 class="title" style="color: #fff;">WELCOME!</H1>
        <p style="font-size: larger; text-decoration: underline;">Welcome to the Trinidad and Tobago Water Taxi Service's Online Ticking Website. Convenient Ticket Purchase at your service.</p>
    </div>
</div>




<div style=" height: 50px; width: 100%;"></div>

<div class="row">
    <div class="column">
        <img src="{% static 'core/Images/side_image copy.jpg' %}" alt="side_image" style="border-radius: 12px;">
    </div>

    <div class="column"  style="padding-top: 150px;">
        <h2 class="title" style="color: #fff;">View Our Schedule!</h2>
        <p> 
            You can take a look at our schedule that displays our planned voyages for an entire month. 
            This way you can plan your trips and purchase tickets accordingly.
        </p>
        <a href="schedule.html"><button class="button">View Schedule</button></a>
    </div>
</div>

<div class="row">
    <div class="column"  style="padding-top: 150px;">
        <h2 class="title" style="color: #fff;">Purchase A Ticket!</h2>
        <p> 
            We offer a simple and timely way to purchase a ticket online, as well as, payment options for credit, debit and visa cards.
            Our user friendly ticket purchase interface is designed to accomodate elderly and technologically inexperienced users. 
        </p>
        <a href="purchaseTicket.html"><button class="button">Purchase Ticket</button></a>
    </div>
</div>
{% endblock %}
