{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="column" style="text-align: center;">
        <H1 class="title" style="color: #fff;">WELCOME!</H1>
        <p style="font-size: larger; text-decoration: underline;">Welcome to the Trinidad and Tobago Water Taxi Service's Online Ticking Website. Convenient Ticket Purchase at your service.</p>
    </div>
</div>




<div style=" height: 50px; width: 100%;"></div>

<div class="row">
    <div class="column">
        <img src="{% static 'core/Images/side_image copy.jpg' %}" alt="side_image" style="border-radius: 12px;">
    </div>

    <div class="column"  style="padding-top: 150px; margin-right: 20%;">
        <h2 class="title" style="color: #fff;">Vessel Stats</h2>        
        <p>Name: Cabo Star</br></br>Vessel Type: Passenger</br></br>Date Procured: May 12th, 2011</br></br>Passenger Capacity: 300</br></br>Vehicle Capacity: 0</p>
    </div>
</div>

<div class="row">
    <div class="column"  style="padding-top: 150px;">
        <h2 class="title" style="color: #fff; margin-right: 10%; ">About The Cabo Star</h2>
        <p style="margin-right: 20%; margin-left: 10%;"> 
            The Carbo Star passenger vessel from Trinidad and Tobago is a prominent and well-regarded ferry service that connects the islands of Trinidad and Tobago, 
            serving as a vital link for transportation and tourism. With its distinctive blue and white livery, the Carbo Star is a familiar sight in the waters of the Caribbean, 
            offering comfortable and reliable journeys for passengers between the two islands. The vessel is equipped with modern amenities, including spacious seating areas, onboard refreshments,
            and open-air decks that provide stunning views of the surrounding ocean. Travelers aboard the Carbo Star experience smooth and efficient crossings, enjoying the convenience of regular 
            schedules and friendly service from the crew. Whether commuting for work or exploring the scenic beauty of Tobago, the Carbo Star plays a pivotal role in facilitating travel and fostering
            connections between the vibrant cultures of Trinidad and Tobago.
        </p>
    </div>
</div>
{% endblock %}
